## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [10]:
import pandas as pd
import numpy as np

In [11]:
data = {'國家': ['台灣', '美國', '印度', '馬來西亞', '英國', '法國','俄羅斯', '巴西', '義大利', '西班牙'],
        '人口': np.random.randint(2000000, 10000000, size=10).tolist()}
data = pd.DataFrame(data)

In [12]:
data

     國家       人口
0    台灣  6264555
1    美國  5308375
2    印度  5425775
3  馬來西亞  4385651
4    英國  7834983
5    法國  4673857
6   俄羅斯  8514536
7    巴西  5971606
8   義大利  8360789
9   西班牙  5531589

In [30]:
data.sort_values(by='人口', ascending=False).head(1)

    國家       人口
6  俄羅斯  8514536